@model IPagedList<MovieShop.ViewModels.IndexMovieViewModel>

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="container">

    @using (Html.BeginForm("Index", "Movie", FormMethod.Get, new { @class = "form-inline mb-3" }))
    {
        <div class="form-group animated fadeInDown">
        <div class="form-group ml-2">
            <input type="text" id="search" placeholder="Search Movies" name="search" class="form-control" value="@Request.QueryString["search"]" />
        </div>
        <div class="form-group ml-2 animated swing">
            <input type="submit" class="btn btn-outline-primary" value="Search" />
        </div>
            </div>
    }
    @if (Request.QueryString["search"] != null)
    {
        <a class="btn btn-outline-dark" href="@Url.Action("Index")">Refresh List</a>
    }
    <hr />

    <div class="row">
        @if (Model.Any())
        {
            foreach (var movie in Model)
            {
                <div class="col-md-3 mt-2 navBorderBottom animated flipInY">
                    <a href="@Url.Action("Details", new { id = movie.Id })">
                        <img src="@movie.ImagePath" class="card-img-top mt-2" width="250" height="250" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text text-secondary">Genre - <span class="badge badge-primary">@movie.GenreName</span></p>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center lead">No movies at the moment. If you are an admin please add new movie.</p>
        }
    </div>

</div>
<div class="text-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index","Movie", new { page, search = Request.QueryString["search"]}))
</div>