@using MovieShop.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_MembershipLayout.cshtml";
}

<div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken();
        <h1 class="text-center">Sign In</h1>
        <hr  class="lineBorderBottom"/>
        <div class="form-group col-md-10 offset-1">
            <label for="inputEmail">Email address</label>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "example@email.com", autofocus = "autofocus", required = "", id = "inputEmail" })
            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-10 offset-1">
            <label for="inputPassword">Password</label>
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "******", id = "inputPassword" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
        </div>


        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
        <p>
            @Html.ValidationSummary(null, new { @class = "text-danger" })
        </p>
    }
    <div class="form-signin">
        <button class="btn btn-lg btn-danger btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}